.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: var(--space-4);
  overflow: hidden;
  color: var(--fg-muted);
  font-size: var(--text-sm);
  text-align: center;
}

.root[data-orientation='vertical'] .text {
  writing-mode: vertical-rl;
}
